/*
LAYOUT
----------------------------------------------------------------
Contient les classes supplémentaires pour la mise en page du site + les styles pour la structure générale du site (header, menus et footer)
*/
.container-wrapper
{
    margin-right: auto;
    margin-left: auto;
    padding-right: ($gridGutterWidth/2);
    padding-left: ($gridGutterWidth/2);
    height: 100%;

    @include clearfix;
}

.absolute-vertical-align-middle
{
    @include vertical-align-middle(absolute);
}
.vertical-align-middle{
    @include vertical-align-middle();
}
.disable-vertical-align-middle{
    @include disable-vertical-align();
}
.flex-align-spread{
    @include display-flex-spread;
}
.flex-align-center{
    @include display-flex-center;
}

.align-bottom{
    position: absolute !important;
    bottom: 0;
}

//SAME COL HEIGHT STYLES
//----------------------------------------------
@include media(desk){
    .same-height-col {
        display: table !important;
        width: 100%;
        border-collapse: separate;
    }
    .same-height-col .row-col{
        display: table-row;
    }
    .same-height-col .col {
        display: table-cell;
        float: none !important;
        vertical-align: top;
        height: 100%;
        padding-bottom: 0 !important;
        margin: 0 !important;
        &:first-child{
            padding-left: 0; 
        }
        &:last-child{
            padding-right: 0;
        }
        &>*{
            display: table;
            width: 100%;
        }
    }
}
//----------------------------------------------

.margin-bottom-phone{
    margin-bottom: 20px;
}

.align-center{
    text-align: center;
}
.align-right{
    text-align: right !important;
}
.align-left{
    text-align: left !important;
}

header{
    z-index: 3;
}
.header-bottom{
    z-index: 1;
    background-color: $grey;
}

.header-top, .header-bottom, footer-top, .footer-bottom{
    display: block;
    position: relative;
    padding: 15px 0 13px;
}

.header-top, .footer-bottom{
    background-color: $blue;
    color: $white;
}
.footer-bottom, .footer-top{
    text-align: center;
    padding: 20px 0;
}
.footer-top{
    nav{
        color: darken($grey, 40%);
        li{
            display: block;
            @include transition($transitionUi);
            font-weight: 400;
            font-size: 16px;
            &:hover{
                color: darken($grey, 60%);
            }
            &:not(:last-child){
                margin-bottom: 10px;  
            }
        }
    }
}
section, .header-bottom{
    border-bottom: 1px solid $grey-border;
    @include box-shadow(0 1px 0 0 $white);
}
section{
    padding: 20px 0;
}

#overlay{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    z-index: 1;
    cursor: pointer;
    &.is-visible{
        opacity: 0.6;
        visibility: visible;
    }
}

.desktop-menu{
    display: none;
    color: $white;
    &>ul{
        @include item-spread(350);
        &>li{
            position: relative;
            line-height: 25px;
        }
    }
    li{
        font-size: 13px;
    }
    .dropdown{
        display: inline-block;
        position: absolute;
        background-color: lighten($grey, 4%);;
        color: $blue;
        z-index: 1;
        border: 1px solid $blue;
        border-top: transparent;
        min-width: 50px;
        @include box-shadow(0px 2px 10px 0 rgba(0, 0, 0, 0.3));
        &.right{
            right: 0;
            text-align: center;
        }
        &.left{
            left: 0;
        }
        li{
            display: block;
            position: relative;
            line-height: 0;
            &:not(:last-child){
                border-bottom: 1px solid $blue;
            }
            a{
                display: block;
                padding: 0 10px;
                line-height: 35px;
                &:hover{
                    background-color: darken($white, 6%);
                    text-decoration: underline;
                }
            }
        }
    }
}
.menu-mobile{
    position: relative;
    ul{
        text-align: justify;
        width: 100%;
        font-size: 0;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 0;
            line-height: 0;
        }
        color: $blue;
    }

}
.menu-mobile-icon{
    display: inline-block;
    text-align: center;
    @include noselect;
    cursor: pointer;
    div[class^="icon-"]{
        font-size: 24px;
        margin-bottom: 5px;
    }
    div:not([class^="icon-"]){
        font-size: 11px;
        text-transform: uppercase;
    }
}

//sidebar coulissant pour les menus mobiles
.mobile-sidebar-menu{
    display: inline-block;
    width: 300px !important;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    @include transition(transform 0.3s ease);
    @include transform(translateX(0px));
    border-right: 1px solid $grey-border;
    z-index: 3;
    background-color: lighten($grey, 4%);
    &.right{
        right: -300px; 
        &.open{
            @include transform(translateX(-300px));
        }
    }
    &.left{
        left: -300px;
        &.open{
            @include transform(translateX(300px));
        }
    }
}
.categories{
    width: 100%;
    font-size: 11pt;
    line-height: 15px;
}

.category-title.profil {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 14pt;
    color: $orange;
}

.category-entry, .sub-categories, .sub-category-entry{
    display: block;
    position: relative;
    width: 100%;
    @include noselect;
    cursor: pointer;
}
.category-entry, .sub-category-entry{
    & a:active{
        background-color: darken($white, 6%);
    }
}

.category-number{
    font-size: 0.95em;
    color: $orange;
    margin-left: 5px;   
}

.categories .category-entry{
    margin: 0px;
    &>a{
        padding: 12px 0px;
        padding-left: 20px !important;
        border-bottom: 1px solid $grey-border;
    }
}

.sub-category-entry a {
    padding: 12px 0px;
    padding-left: 20px !important;
}

.sub-categories{
    display: none;
    font-size: 0.95em;
    padding-left: 15px;
    border-left: 3px solid $blue;
    border-bottom: 1px solid $grey-border;
    border-top: 1px solid $grey-border;
    &>.sub-category-entry:last-child{
        margin-bottom: 0;
    }
}

.search-box{
    display: block;
    width: 100%;
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 12px 10px 10px 15px;
    @include transform(translateY(0px));
    background-color: lighten($grey, 4%);;
    @include transition(transform 0.3s ease);
    &.open{
        box-shadow: 0px 4px 15px 0px #575757;
        @include transform(translateY(90px));
    }
}
.header-logo{
    li{
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }
    .logo-description{
        width: 80px;
        color: $white;
        text-align: center;
        span{
            display: block;
            margin-bottom: 3px;
            letter-spacing: 0.05em
        }
    }
}
.separator{
    width: 1px;
    background-color: $white;
    margin: 0 5px;

}
.language-selection{
    &.mobile{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        button{
            position: relative;
            height: 45px;
            width: 45px;
            padding: 7px;
            border-radius: 0px 0px 0px 7px;
            background-color: lighten($blue, 10%);
            border: 1px solid darken($blue, 25%);
            z-index: 3;
            div[class^="icon-"]{
                margin-top: 2px;
                color: $white;
            }
        }
        .dropdown{
            display: none;
            position: relative;
            bottom: 5px;
            padding-top: 15px;
            background-color: $white;
            border: 1px solid $blue;
            border-radius: 0px 0px 0px 7px;
            z-index: 2;
            &.open{
                display: block;
            }
            li{
                display: block;
            }
            a{
                display: block;
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }
}