/*
MODULE
----------------------------------------------------------------
Contient les styles pour les éléments de l'interface utilisateur
*/

svg:not(:root) {
    overflow: visible;
}
.flickity-page-dots{
    .dot{
        width: 12px;
        height: 12px;
        background: $grey-border;
        border-radius: 50%;
        filter: alpha(opacity=100);
        opacity: 1;
        cursor: pointer;
        &.is-selected{
            background: $white;
            border: 2px solid $blue;
        }
    }
}

// COLOR CLASS
// --------------------------------------------------
.orange
{
    color: $orange;
}
.white
{
    color: $white;
}
.blue{
    color: $blue;
}
.grey{
    color: $grey;
}
.bold{
    font-weight: 600;
}
.extra-bold{
    font-weight: 800;
}

.immo{
    display: inline-block;
    width: 100%;
    font-size: 30px !important;
}
// BACKGROUND-COLOR CLASS
// --------------------------------------------------
.background-border{
    border: 1px solid $grey-border;
    background-color: $white;
    border-radius: 2px;
    padding: 25px;
}
// BORDER CLASS
// --------------------------------------------------
.border-grey{
    border: 1px solid $grey-border;
}

// SHADOW CLASS
// --------------------------------------------------
.iner-shadow{
    @include box-shadow(inset 0 4px 15px 2px lighten($black, 75%));
}
.section-shadow{
    position: relative;
    @include box-shadow(0 2px 25px 2px lighten($black, 83%));
    z-index: 2;
}
.drop-shadow{
    @include box-shadow(0 2px 13px 2px #B5B5B5);
}

//ANNONCE LAYOUT
//---------------------------------------------------
img.fill-width{
    width: 100%;
    height: auto;
}
img.fill-height{
    height: 100%;
    width: auto;
}

.annonce-link{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

//TEXT STYLES
//--------------------------------------------------
#propos{
    p{
        font-size: 15px;
        line-height: 20px;
        text-align: justify;
    }
}

//BOX STYLES
//--------------------------------------------------
.grey-border-box, .orange-border-box{
    position: relative;
    padding: 10px 20px;
    border-radius: 3px;
    border: 3px solid;
    background-color: $white;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.2));
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    &.no-border{
        border-radius: 0;
        border: none;
        @include box-shadow(none);
    }
}
.grey-border-box{
    border-color: $grey-border;
}
.orange-border-box{
    border-color: $orange;
}

.partners-container{
    margin: 0 auto;
    display: block;
    min-width: 200px;
    max-width: 275px;
    width: 100%;
    min-height: 150px;
    text-align: center;
}

//SLIDER ANNONCE UNE STYLES
//--------------------------------------------------
.main-gallery{
    .gallery-cell{
        padding: 0 2px;
        width: 50%;
    }
}
.annonce-une-item{
    display: block;
    position: relative;
    text-align: center;
    .img-annonce{
        overflow: hidden;
    }
}
.annonce-une-item-content{
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    .brand{
        text-transform: uppercase;
        font-weight: 800;
    }
    .price{
        color: $orange;
        font-weight: 800;
        font-size: 1.1em;
    }
}

//FORM INPUT STYLES - SPEED SEARCH
//---------------------------------------------
.cat-selection{
    text-align: center;
    margin-bottom: 10px;
    ul{
        text-align: justify;
        width: 100%;
        font-size: 0;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    li{
        display: inline-block;
        font-size: 21px;
        cursor: pointer;
        @include transition($transitionUi);
        &:hover{
            color: $orange;
        }
    }
}
.group-input{
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 4px 0;
    label{
        display: none;
    }
    select, input[type="text"]{
        display: block;
        width: 100%;
        border-color: $grey-border;
        height: 38px;
        padding-left: 10px;
        font-size: 13px;
        cursor: pointer;
    }
    &.search{
        width: 100%;
        min-width: 275px;
        padding: 5px 10px;
        form{
            @include clearfix;
        }
        input, button{
            display: inline-block;
            height: 35px;
            float: left;
        }
        input{
            width: 80%;
            border-width: 1px;
            border-color: $blue;
        }
        button{
            width: 18%;
            background-color: #004994;
            color: #fff;
            line-height: 5px;
            font-size: 1.2em;
            border-radius: 0 5px 5px 0;
        }
    }
}

//BUTTON StYLES
//--------------------------------------------------------

@mixin btn($back-color, $font-color){
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 8px;
    background-color: $back-color;
    color: $font-color;
    padding: 14px 35px 11px;
    font-size: 12px;
    font-weight: 600;
    @include transition($transitionUi);
    span{
        position: relative; 
        top: 2px;
        margin-right: 5px;
    }
    &:focus{
        outline: none;
    }
}
.btn-orange{
    @include btn($orange, $white);
    width: 100%;
    @include box-shadow(0 2px 1px 0 rgb(223, 223, 223));
    text-transform: uppercase;
    padding: 16px 35px 14px;
    font-size: 14px;
    &:hover{
        background-color: lighten($orange, 7%);
    }
}
.btn-outline-orange{
    @include btn($white, $orange);
    border: 1px solid $orange;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 4px;
    &:hover{
        background-color: lighten($orange, 50%);
    }
}