/*
MODULE
----------------------------------------------------------------
Contient les styles pour les éléments de l'interface utilisateur
*/

svg:not(:root) {
    overflow: visible;
}
.flickity-page-dots{
    .dot{
        width: 12px;
        height: 12px;
        background: $grey-border;
        border-radius: 50%;
        filter: alpha(opacity=100);
        opacity: 1;
        cursor: pointer;
        &.is-selected{
            background: $white;
            border: 2px solid $blue;
        }
    }
}

// ROTATION CLASS
// --------------------------------------------------
.rotate0 {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.rotate90 {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate270 {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

// COLOR CLASS
// --------------------------------------------------
.orange
{
    color: $orange;
}
.white
{
    color: $white;
}
.blue{
    color: $blue;
}
.grey{
    color: $grey;
}
.grey-font{
    color: $grey-font;
}
.normal{
    font-weight: 400;
}
.bold{
    font-weight: 600;
}
.extra-bold{
    font-weight: 800;
}

.lowercase{
    text-transform: lowercase;
}
.captialize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}

.immo{
    display: inline-block;
    width: 100%;
    font-size: 30px !important;
}

// TRANSITION EFFECT
// --------------------------------------------------
@mixin color-transition($color, $pourcent){
    color: $color;
    @include transition($transitionUi);
    &:hover{
        color: darken($color, $pourcent);
    }
}
.color-grey-transition{
    @include color-transition($grey-font, 10%);
}

// BACKGROUND-COLOR CLASS
// --------------------------------------------------
.background-border{
    border: 1px solid $grey-border;
    background-color: $white;
    border-radius: 2px;
    padding: 25px;
}
// BORDER CLASS
// --------------------------------------------------
.border-grey{
    border: 1px solid $grey-border;
}

// SHADOW CLASS
// --------------------------------------------------
.iner-shadow{
    @include box-shadow(inset 0 4px 15px 2px lighten($black, 75%));
}
.section-shadow{
    position: relative;
    @include box-shadow(0 2px 25px 2px lighten($black, 83%));
    z-index: 2;
}
.drop-shadow{
    @include box-shadow(0 2px 13px 2px #B5B5B5);
}

//ANNONCE LAYOUT
//---------------------------------------------------
img.fill-width{
    width: 100%;
    height: auto;
}
img.fill-height{
    height: 100%;
    width: auto;
}

.annonce-link{
    display: block;
    position: relative;
    z-index: 1;
}
.return{
    padding: 5px 0;
    font-weight: 600;
    display: inline-block;
    span{
        padding-right: 10px;
    }
    @extend .color-grey-transition;
}

//TEXT STYLES
//--------------------------------------------------

.title-search-result{
    font-size: 20px;
    line-height: 21px;
}
#welcome-message, #filter{
    padding: 10px 0;
    font-size: 15px;
    span[class^=icon-]{
        font-size: 1.6em;
        position: relative;
        top: 3px;
        &.icon-left-arrow{
            font-size: 1.05em;
        }
    }
    ul{
        display: inline;
        vertical-align: baseline;
        &>li{
            margin: 0 3px;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .social-icon{
        height: 28px;
        width: 28px;
        background-color: $grey-font;
        text-align: center;
        vertical-align: middle;
        span[class^=icon-]{
            color: $white;
            font-size: 1em;
            position: relative;
            top: 6px;
        }
    }
}
.search-sort{
    display: table;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    &>div{
        display: table-cell;
    }
    .search-sort-container{
        display: table;
        width: 100%;
        text-align: center;
        line-height: 30px;
        .byYear, .byKm, .byPrice{
            display: table-cell;
            width: 25%;
        }
    }
    span[class^=icon-]{
        position: relative;
        top: 2px;
        font-size: 0.9em !important;
        padding-left: 5px;
    }
}
#propos{
    p{
        font-size: 15px;
        line-height: 20px;
        text-align: justify;
    }
}

//BOX STYLES
//--------------------------------------------------
.grey-border-box, .orange-border-box{
    position: relative;
    padding: 10px 20px;
    border-radius: 3px;
    border: 3px solid;
    background-color: $white;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.2));
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    &.no-border{
        border-radius: 0;
        border: none;
        @include box-shadow(none);
    }
}
.grey-border-box{
    border-color: $grey-border;
}
.orange-border-box{
    border-color: $orange;
}
@mixin annonce-detail-box{
    background-color: #dfdfdf;
    border: 2px solid darken($grey-border, 5%);
    border-radius: 5px;
}

.partners-container{
    margin: 0 auto;
    display: block;
    min-width: 200px;
    max-width: 275px;
    width: 100%;
    min-height: 150px;
    text-align: center;
}

.garage-partner{
    p{font-size: 14px;}
}
.good-deal{
    .good-deal-price{
        font-size: 14px;
        strong{
            text-transform: uppercase;
        }
        span{
            color: $orange;
            font-weight: 800;
        }
    }
    .img-container{
        text-align: center;
        overflow: hidden;
    }
    ul{
        display: block;
        padding-left: 15px;
        margin-top: -5px;
    }
    li{
        display: block;
        line-height: 20px;
        font-size: 14px;
        font-weight: 600;
        &.link{
            text-decoration: underline;
        }
    }
}

//SLIDER ANNONCE UNE STYLES
//--------------------------------------------------

.annonce-entry-img{
    height: 100%;
    figure{
        margin: 0;
    }
    &>figure{
        margin: 0;
        background-color: #D2D2D2;
        border-top: 1px solid #EDEDED;
        border-bottom: 1px solid #EDEDED;
        height: 100%;
        a{
            height: 100%;
            text-align: center;
            overflow: hidden;
        }
        img{
            image-rendering:optimizeQuality; 
            -ms-interpolation-mode:bicubic;
            max-height: 300px;
        }
    }
}

.pswp__image{
    max-width: 150px !important;
    padding: 10px 15px;
}
.annonce-entry-img figcaption{
    display: none;
}
.main-gallery:not(.annonce-entry-slider){
    margin: 0 -5px;
    .gallery-cell{
        padding: 0 2px;
        width: 50%;
    }
}
.main-gallery.annonce-entry-slider{
    .gallery-cell{
        padding: 0 1px;
        width: 50%;
        &.is-selected{
            &:after {
                content: "";
                position: absolute;
                background-color: rgba(0,73,148,0.2);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
    }
    .flickity-prev-next-button{
        top: 47%;
    }
}
.annonce-slider-item{
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    .img-annonce{
        display: inline-block;
    }
}

.annonce-slider-item-img-container{
    width: 100%;
    background-color: darken($grey, 5%);
    .annonce-entry-slider &{
        background-color: darken($white, 1%);
    }
}
.annonce-slider-item-content{
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    .brand{
        text-transform: uppercase;
        font-weight: 800;
    }
    .price{
        color: $orange;
        font-weight: 800;
        font-size: 1.1em;
    }
}

//FORM INPUT STYLES - FAST SEARCH + DETAILED SEARCH
//---------------------------------------------
.fast-search-box, .detailed-search-box{
    .fast-search-result{
        color: $orange;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .btn-orange{
        margin-top: 7px;
    }
}
.detailed-search-box{
    .cat-selection{
        ul{
            width: 100%;
        }
        li{
            &:first-child{
                margin-bottom: 15px;
            }
            span{
                display: inline-block;
            }
        }
    }
}
.cat-selection{
    text-align: center;
    margin-bottom: 10px;
    ul{
        display: block;
        text-align: justify;
        width: 100%;
        line-height: 0;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    li{
        display: inline-block;
        text-align: center;
        font-size: 30px;
        cursor: pointer;
        @include transition($transitionUi);
        &:hover, &.active{
            color: $orange;
        }
        .icon-label{
            display: block;
            font-size: 0.4em;
            font-weight: 600;
            line-height: normal;
            margin-top: 5px;
        }
        .icon-car-ico{
            font-size: 1.2em;
            position: relative;
            top: 5px;
        }
    }
}
input[type="radio"], input[type="checkbox"]{
    position: relative;
    cursor: pointer;
    top: 2px;
    margin-right: 15px;
    &+label{
        cursor: pointer;
    }
}
.group-input{
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 4px 0;
    @include clearfix;
    label{
        display: block;
        line-height: 20px;
        padding-bottom: 4px;
        font-size: 14px;
    }
    select, input[type="text"], input[type="password"], textarea{
        display: block;
        width: 100%;
        border: 1px solid $grey-border;
        background-color: $white;
        height: 38px;
        padding-left: 10px;
        font-size: 13px;
        cursor: pointer;
    }
    textarea{
        height: 120px;
        padding: 10px;
        line-height: 20px;
        resize: vertical;
    }
    &.search{
        width: 100%;
        min-width: 275px;
        padding: 10px 10px 5px;
        form{
            @include clearfix;
        }
        input, button{
            display: inline-block;
            height: 35px;
            float: left;
        }
        input{
            width: 80%;
            border-width: 1px;
            border-color: $orange;
        }
        button{
            width: 18%;
            background-color: $orange;
            color: $white;
            line-height: 5px;
            font-size: 1.2em;
            span.icon-recherche{
                top: -1px;
                text-align: center;
                font-size: 1.1em;
                margin: 0;
            }
        }
    }
    &.radio{
        padding: 5px 0;
        &>label{
            display: block; 
            width: 100%;  
            margin-right: 30px;
            margin-bottom: 5px;
        }
        label, input[type=radio]{
            display: inline-block;
        }
        div{
            label, input[type=radio]{
                cursor: pointer;
            }
            display: inline-block;
            float: left;
            margin-right: 35px;
        }
    }
    &.inline{
        display: table;
        width: auto;
        table-layout: fixed;
        border-collapse: collapse;
        &>.cell{
            display: block !important;
            vertical-align: middle;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        label{
            display: inline-block;
        }
    }
}

//BUTTON STYLES
//--------------------------------------------------------

@mixin btn($back-color, $font-color){
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 8px;
    background-color: $back-color;
    color: $font-color;
    padding: 14px 35px 11px;
    font-size: 12px;
    font-weight: 600;
    @include transition($transitionUi);
    span{
        position: relative; 
        top: 2px;
        margin-right: 5px;
    }
    &:focus{
        outline: none;
    }
}
.btn-orange{
    @include btn($orange, $white);
    width: 100%;
    @include box-shadow(0 2px 1px 0 rgb(223, 223, 223));
    text-transform: uppercase;
    padding: 16px 35px 14px;
    font-size: 14px;
    &:hover{
        background-color: lighten($orange, 7%);
    }
}
.btn-outline-orange{
    @include btn($white, $orange);
    border: 1px solid $orange;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 4px;
    &:hover{
        background-color: lighten($orange, 50%);
    }
}
.btn-blue{
    @include btn($blue, $white);
    height: 47px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 47px;
    padding: 0 32px;
    text-transform: uppercase;
    &:hover{
        background-color: lighten($blue, 5%);
    }
    span{
        font-size: 1.4em;
        margin-right: 7px;
        top: 3px;
    }
}
.pagination{
    text-align: center;
    font-size: 14px;
    .page-link{
        margin: 0 3px;
        line-height: 38px;
        height: 40px;
        border: 1px solid #dfdfdf;
        padding: 0px 9px;
        border-radius: 4px;
        text-align: center;
        background-color: #fff;
        @include transition($transitionUi);
        &:not(.page-ellipsis){
            cursor: pointer;
            &:hover:not(.selectedPage){
                border-color: $blue;
            }
        }
        &.page-ellipsis{
            cursor: default;
        }
        &.selectedPage{
            background-color: $blue;
            color: $white;
        }

        background-color: $white;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        span[class^=icon-]{
            position: relative;
            top: 2px;
        }
    }
}

.disabled{
    @include disabled(0.5);
}

//ANNONCE SEARCH ENTRY
//-------------------------------------------------------------
#search_result{
    padding: 20px 10px;
}
.image-container{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    .img-annonce{
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }
}
#search-result-table{
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    a{
        opacity: 0;
        background-color: darken($grey-border, 10%);
        @include transition(opacity 0.3s ease);
        &:hover{
            opacity: 0.2;
        }
    }
}
.search-result-entry{
    display: table;
    position: relative;
    height: 98px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 3px;
    .annonce-link{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.search-result-entry-img{
    overflow: hidden;
    width: 130.6666666666667px;
    .image-container{
        height: 98px;
        width: 130.6666666666667px;
    }
}
.search-result-entry-img, .search-result-entry-infos{
    float: none;
    display: table-cell;
    position: relative;
    vertical-align: top;
    height: 100%;
}
.search-result-entry-img{
    background-color: darken($grey-border, 12%);
}
.search-result-entry-infos{
    width: 100%;
    .infos-container{
        display: inline-block;
        height: 100%;
        width: 100%;
        border-collapse: collapse;
    }
    .search-result-entry-infos-header, .search-result-entry-infos-details{
        display: block;
        vertical-align: top;
        float: none;
        width: 100%;
        border: 1px solid darken($grey-border, 12%);
        border-bottom: none;
        background-color: $white;
        font-size: 12px;
        color: darken($blue, 8%);
    }
    .search-result-entry-infos-header{
        height: 65%;
        padding: 9px 15px 4px;
        .header-container{
            position: relative;
            height: 100%;
            font-size: 12px;
        }
        .vehicle-infos{
            font-size: 1.1em;
            color: $grey-font;
            font-weight: 800;
            max-width: 85%;
            @include ellipsis;
        }
        .engin{
            @include ellipsis;
        }
        .brand{
            text-transform: uppercase;
        }
        .engin{
            font-weight: 400;
            font-size: 0.92em;
            margin-top: 5px;
        }
        .country, .seller-type, .fuel-type{
            position: absolute;
        }
        .country{
            top: 0;
            right: 0;
        }
        .seller-type{
            bottom: 0;
            right: 0;
        }
        .fuel-type{
            bottom: 0;
            left: 0;
        }
    }
    .search-result-entry-infos-details{
        display: table;
        height: 35%;
        text-align: center;
        border-collapse: collapse;
        .year, .km, .price{
            display: table-cell;
            vertical-align: middle;
            border: 1px solid darken($grey-border, 12%);
            border-top: none;
        }
        .km{
            font-weight: 600;
        }
        .price{
            color: $orange;
            font-weight: 800;
        }
    }
}

//ANNONCE DETAILS ENTRY
//-------------------------------------------------------------
.annonce-entry{
    @include annonce-detail-box;
}
.annonce-entry-top, .annonce-entry-bottom, .annonce-entry-header{
    display: block;
    position: relative;
}
.annonce-entry-top{
    overflow: hidden;
}
.annonce-entry-details, .annonce-entry-bottom{
    background-color: darken($white, 1%);
}
.annonce-entry-header{
    background-color: #dfdfdf;
    padding: 15px 15px 10px;
    border-radius: 5px 5px 0 0;
    font-size: 21px;
    h1{
        display: inline-block;
        text-align: center;
        color: darken($grey-font, 10%);
        font-size: 0.9em;
        font-weight: 800;
        line-height: 22px;
        margin: 0;
        @include ellipsis;
    }
    .options-container{
        text-align: center;
        vertical-align: middle;
    }
    .brand{
        text-transform: uppercase;
    }
    .engin{
        color: $grey-font;
        font-weight: 400;
        font-size: 0.9em;
        display: block;
        @include ellipsis;
    }
    .annonce-entry-header-actions{
        font-size: 1.2em;
        color: lighten($grey-font, 5%);
        li:not(:first-child):not(:last-child){
            margin: 0 7px;
        }
        li:first-child{
            margin-right: 7px;
        }
        li:last-child{
            margin-left: 7px;
        }
        li{
            @extend .color-grey-transition;
        }
    }
    .annonce-entry-header-previous-next{
        li:first-child{
            margin-right: 5px;
        }
        li:last-child{
            margin-left: 5px;
        }
        a{
            background-color: $grey;
            border-radius: 4px;
            border: 1px solid darken($grey-border, 5%);
            text-align: center;
            padding: 4px 10px;
            @include transition($transitionUi);
            &:hover, &:active{
                background-color: lighten($grey, 5%);
                span[class^=icon-]{
                    color: ($grey-font, 10%);
                }
            }
        }
        span[class^=icon-]{
            position: relative;
            top: 1px;
        }
    }
}
.annonce-entry-details{
    display: block;
    width: 100%;
    &>*{
        display: inline-block;
        position: relative;
        width: 25.3315%;;
        height: 60px;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid $grey;
        line-height: 47px;
        @include ellipsis;
        margin:-1px 0 0 -1px;
    }
    .annonce-entry-details-label{
        display: none;
        position: absolute;
        top: 1px;
        left: 10px;
        color: #8a9eb3;
        line-height: normal;
        font-weight: 400;
        font-size: 11px;
    }
    .annonce-entry-details-detail{
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        @include ellipsis;
    }
    .price{
        color: $orange;
        font-weight: 800;
        font-size: 1.1em;
    }
    .km, .year{
        font-weight: 800;
    }
}
.annonce-entry-bottom{
    padding: 0 10px 15px;
    font-size: 1.1em;
    h3{
        color: $grey-font;
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.3em;
        text-transform: capitalize;
    }
    .annonce-entry-options{
        padding-top: 15px; 
        text-align: center;
        ul{
            display: block;
            vertical-align: top;
            text-align: center;
            li{
                display: block;
                line-height: 22px;
                @include ellipsis;
            }
        }
    }
    .annonce-entry-comment{
        line-height: 20px;
        &>p{
            margin-top: 0;
        }
    }
}

.annonce-entry-seller{
    @include annonce-detail-box;
    background-color: darken($white, 2%);
    color: darken($grey-font, 10%);
    padding: 15px 10px;
    text-align: center;
    .annonce-entry-seller-details{
        padding-bottom: 15px;
    }
    li{
        display: block;
    }
    .seller-logo{
        img{
            max-width: 200px;
            max-height: 200px;
        }
    }
    .seller-name{
        margin: 10px 0 7px;
        font-size: 1.4em;
        font-weight: 800;
        text-transform: uppercase;
    }
    .seller-address{
        div{
            line-height: 22px;
            font-size: 1.15em;
        }
    }
    .annonce-entry-seller-options{
        padding-top: 15px;
        border-top: 1px solid $grey-border;
        ul{
            li{
                margin: 10px 0;
            }
            li:first-child{
                margin-top: 0;
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
        .btn-outline-orange{
            padding: 12px 15px;
        }
    }
}

//ADD ANNONCE
//---------------------------------------

.uploadFile-container {
    position: relative;
    display: inline-block;
    height: 150px;
    &:not(:last-child){
        margin-bottom: 50px;
    }
}
.add-annonce-image-container {
    display: block;
    height: 154.5px;
    width: 173px;
    position: relative;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    overflow: hidden;
}
.add-annonce-image-input {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.image-buttons {
    text-align: center;
    padding-top: 5px;
}
.modify-image-button {
    cursor: pointer;
    display: inline-block;
}
.deleteImage {
    position: relative;
    top: 1px;
    right: 0px;
}
.upload-status {
    color: $orange;
    height: 100%;
    padding-top: 21px;
    font-size: 14px;
    @include vertical-align-middle;
    &>.icon-picture-o{
        display: block;
        font-size: 28pt;
        margin-bottom: 5px;
    }
    &>.image-path{
        width: 100%;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}
.add-annonce-pic{
    @include vertical-align-middle;
}
.add-annonce-image-pic {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    max-height: 195px;
    max-width: 173px;
}
#alert_browser {
    margin: 0;
    display: block;
    float: left;
    width: 100%;
    margin-top: 19px;
    padding: 0 15px;
    text-align: left;
    background-color: #F9F9F9;
    border: 2px solid #00529C;
    border-radius: 4px;
    color: black;
    [class^="icon-"]{
        color: $blue;
        font-size: 32px;
    }
    &>.attention_sign{
        display: none;
        margin: 0;
        margin-right: 15px;
    }
}
#info {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    &>p>span {
        color: $blue;
        font-weight: 600;
    }
    a{
        display: inline;
        color: $blue;
        text-decoration: underline;
    }
}

//LOGIN
//------------------------------------------------------------------------------
#login {
    position: relative;
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid $grey-border;
    border-radius: $border-radius;
    text-align: center;
    width: 310px;
    margin: 0 auto;
    margin-top: 5%;
    #login-image{
        width: 85%;
        margin: 0 auto;
    }
    #login-error{
        font-size: 1.1em;
        line-height: 20px;
        color: #CE272D;
        padding-bottom: 10px; 
    }

    .login-link {
        color: #00529c;
        font-size: 9pt;
        &:hover{
            text-decoration: underline;
        }
    }

}