/*
MODULE
----------------------------------------------------------------
Contient les styles pour les éléments de l'interface utilisateur
*/

svg:not(:root) {
    overflow: visible;
}
.flickity-page-dots{
    .dot{
        width: 12px;
        height: 12px;
        background: $grey-border;
        border-radius: 50%;
        filter: alpha(opacity=100);
        opacity: 1;
        cursor: pointer;
        &.is-selected{
            background: $white;
            border: 2px solid $blue;
        }
    }
}

// COLOR CLASS
// --------------------------------------------------
.orange
{
    color: $orange;
}
.white
{
    color: $white;
}
.blue{
    color: $blue;
}
.grey{
    color: $grey;
}
.bold{
    font-weight: 600;
}
.extra-bold{
    font-weight: 800;
}

.immo{
    display: inline-block;
    width: 100%;
    font-size: 30px !important;
}

// TRANSITION EFFECT
// --------------------------------------------------
@mixin color-transition($color, $pourcent){
    color: $color;
    @include transition($transitionUi);
    &:hover{
        color: darken($color, $pourcent);
    }
}
.color-grey-transition{
    @include color-transition($grey-font, 10%);
}

// BACKGROUND-COLOR CLASS
// --------------------------------------------------
.background-border{
    border: 1px solid $grey-border;
    background-color: $white;
    border-radius: 2px;
    padding: 25px;
}
// BORDER CLASS
// --------------------------------------------------
.border-grey{
    border: 1px solid $grey-border;
}

// SHADOW CLASS
// --------------------------------------------------
.iner-shadow{
    @include box-shadow(inset 0 4px 15px 2px lighten($black, 75%));
}
.section-shadow{
    position: relative;
    @include box-shadow(0 2px 25px 2px lighten($black, 83%));
    z-index: 2;
}
.drop-shadow{
    @include box-shadow(0 2px 13px 2px #B5B5B5);
}

//ANNONCE LAYOUT
//---------------------------------------------------
img.fill-width{
    width: 100%;
    height: auto;
}
img.fill-height{
    height: 100%;
    width: auto;
}

.annonce-link{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.return{
    padding: 5px 0;
    font-weight: 600;
    display: inline-block;
    span{
        padding-right: 10px;
    }
    @extend .color-grey-transition;
}

//TEXT STYLES
//--------------------------------------------------
#welcome-message, #filter{
    padding: 10px 0;
    font-size: 15px;
    span[class^=icon-]{
        font-size: 1.6em;
        position: relative;
        top: 3px;
        &.icon-left-arrow{
            font-size: 1.05em;
        }
    }
    ul{
        display: inline;
        vertical-align: baseline;
        &>li{
            margin: 0 3px;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .social-icon{
        height: 28px;
        width: 28px;
        background-color: $grey-font;
        text-align: center;
        vertical-align: middle;
        span[class^=icon-]{
            color: $white;
            font-size: 1em;
            position: relative;
            top: 6px;
        }
    }
}
.search-sort{
    display: table;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    &>div{
        display: table-cell;
    }
    .search-sort-container{
        display: table;
        width: 100%;
        text-align: center;
        line-height: 30px;
        .byYear, .byKm, .byPrice{
            display: table-cell;
            width: 25%;
        }
    }
    span[class^=icon-]{
        position: relative;
        top: 2px;
        font-size: 0.9em !important;
        padding-left: 5px;
    }
}
#propos{
    p{
        font-size: 15px;
        line-height: 20px;
        text-align: justify;
    }
}

//BOX STYLES
//--------------------------------------------------
.grey-border-box, .orange-border-box{
    position: relative;
    padding: 10px 20px;
    border-radius: 3px;
    border: 3px solid;
    background-color: $white;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.2));
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    &.no-border{
        border-radius: 0;
        border: none;
        @include box-shadow(none);
    }
}
.grey-border-box{
    border-color: $grey-border;
}
.orange-border-box{
    border-color: $orange;
}
@mixin annonce-detail-box{
    background-color: #dfdfdf;
    border: 2px solid darken($grey-border, 5%);
    border-radius: 5px;
}

.partners-container{
    margin: 0 auto;
    display: block;
    min-width: 200px;
    max-width: 275px;
    width: 100%;
    min-height: 150px;
    text-align: center;
}

.garage-partner{
    p{font-size: 14px;}
}
.good-deal{
    .good-deal-price{
        font-size: 14px;
        strong{
            text-transform: uppercase;
        }
        span{
            color: $orange;
            font-weight: 800;
        }
    }
    .img-container{
        text-align: center;
    }
    ul{
        display: block;
        padding-left: 15px;
        margin-top: -5px;
    }
    li{
        display: block;
        line-height: 20px;
        font-size: 14px;
        font-weight: 600;
        &.link{
            text-decoration: underline;
        }
    }
}

//SLIDER ANNONCE UNE STYLES
//--------------------------------------------------
figure{
    margin: 0;
}
.pswp__image{
    max-width: 150px !important;
    padding: 10px 15px;
}
.annonce-entry-img figcaption{
    display: none;
}
.main-gallery:not(.annonce-entry-slider){
    margin: 0 -5px;
    .gallery-cell{
        padding: 0 2px;
        width: 50%;
    }
}
.main-gallery.annonce-entry-slider{
    .gallery-cell{
        padding: 0 1px;
        width: 50%;
    }
    .flickity-prev-next-button{
        top: 47%;
    }
}
.annonce-slider-item{
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    .img-annonce{
        display: inline-block;
    }
}
.annonce-slider-item-content{
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    .brand{
        text-transform: uppercase;
        font-weight: 800;
    }
    .price{
        color: $orange;
        font-weight: 800;
        font-size: 1.1em;
    }
}

//FORM INPUT STYLES - FAST SEARCH
//---------------------------------------------
.fast-search-box{
    .fast-search-result{
        color: $orange;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .btn-orange{
        margin-top: 7px;
    }
    &.aside{

    }
}
.cat-selection{
    text-align: center;
    margin-bottom: 10px;
    ul{
        text-align: justify;
        width: 100%;
        font-size: 0;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    li{
        display: inline-block;
        font-size: 28px;
        cursor: pointer;
        @include transition($transitionUi);
        &:hover, &.active{
            color: $orange;
        }
    }
}
.group-input{
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 4px 0;
    label{
        display: block;
        line-height: 20px;
        padding-bottom: 4px;
        font-size: 14px;
    }
    select, input[type="text"]{
        display: block;
        width: 100%;
        border: 1px solid $grey-border;
        height: 38px;
        padding-left: 10px;
        font-size: 13px;
        cursor: pointer;
    }
    &.search{
        width: 100%;
        min-width: 275px;
        padding: 5px 10px;
        form{
            @include clearfix;
        }
        input, button{
            display: inline-block;
            height: 35px;
            float: left;
        }
        input{
            width: 80%;
            border-width: 1px;
            border-color: $blue;
        }
        button{
            width: 18%;
            background-color: #004994;
            color: #fff;
            line-height: 5px;
            font-size: 1.2em;
            border-radius: 0 5px 5px 0;
        }
    }
}

//BUTTON STYLES
//--------------------------------------------------------

@mixin btn($back-color, $font-color){
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 8px;
    background-color: $back-color;
    color: $font-color;
    padding: 14px 35px 11px;
    font-size: 12px;
    font-weight: 600;
    @include transition($transitionUi);
    span{
        position: relative; 
        top: 2px;
        margin-right: 5px;
    }
    &:focus{
        outline: none;
    }
}
.btn-orange{
    @include btn($orange, $white);
    width: 100%;
    @include box-shadow(0 2px 1px 0 rgb(223, 223, 223));
    text-transform: uppercase;
    padding: 16px 35px 14px;
    font-size: 14px;
    &:hover{
        background-color: lighten($orange, 7%);
    }
}
.btn-outline-orange{
    @include btn($white, $orange);
    border: 1px solid $orange;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 4px;
    &:hover{
        background-color: lighten($orange, 50%);
    }
}
.btn-blue{
    @include btn($blue, $white);
    font-size: 1.2em;
    font-weight: 400;
    line-height: 23px;
    padding: 9px 32px 12px;
    text-transform: uppercase;
    &:hover{
        background-color: lighten($blue, 5%);
    }
    span{
        font-size: 1.4em;
        margin-right: 7px;
        top: 3px;
    }
}

//ANNONCE SEARCH ENTRY
//-------------------------------------------------------------
#search_result{
    padding: 20px 10px;
}
#search-result-table{
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    a{
        opacity: 0;
        background-color: darken($grey-border, 10%);
        @include transition(opacity 0.3s ease);
        &:hover{
            opacity: 0.2;
        }
    }
}
.search-result-entry{
    display: table;
    position: relative;
    width: 100%;
    height: 100px;
    min-height: 100px;
    border-collapse: collapse;
    margin-top: -1px;
}
.search-result-entry-img{
    vertical-align: middle;
    overflow: hidden;
}
.search-result-entry-img, .search-result-entry-infos{
    float: none;
    display: table-cell;
    position: relative;
    vertical-align: top;
    height: 100%;
}
.search-result-entry-img{
    width: 132px;
    background-color: #DFDFDF;
}
.search-result-entry-infos{
    .infos-container{
        display: inline-block;
        height: 100%;
        width: 100%;
        border-collapse: collapse;
    }
    .search-result-entry-infos-header, .search-result-entry-infos-details{
        display: block;
        vertical-align: top;
        float: none;
        width: 100%;
        border: 1px solid $grey-border;
        border-bottom: none;
        background-color: $white;
        font-size: 14px;
        color: $blue;
    }
    .search-result-entry-infos-header{
        height: 65%;
        padding: 5px;
        .header-container{
            position: relative;
            height: 100%;
            font-size: 12px;
        }
        .vehicle-infos{
            font-size: 1.2em;
            color: $grey-font;
            font-weight: 800;
        }
        .brand{
            text-transform: uppercase;
        }
        .engin{
            font-weight: 400;
            font-size: 0.92em;
            margin-top: 5px;
        }
        .country, .seller-type, .fuel-type{
            position: absolute;
        }
        .country{
            top: 0;
            right: 0;
        }
        .seller-type{
            bottom: 0;
            right: 0;
        }
        .fuel-type{
            bottom: 0;
            left: 0;
        }
    }
    .search-result-entry-infos-details{
        display: table;
        height: 35%;
        text-align: center;
        border-collapse: collapse;
        .year, .km, .price{
            display: table-cell;
            vertical-align: middle;
            border: 1px solid $grey-border;
            border-top: none;
        }
        .km{
            font-weight: 600;
        }
        .price{
            color: $orange;
            font-weight: 800;
        }
    }
}

//ANNONCE DETAILS ENTRY
//-------------------------------------------------------------
.annonce-entry{
    @include annonce-detail-box;
}
.annonce-entry-top, .annonce-entry-bottom, .annonce-entry-header{
    display: block;
    position: relative;
}
.annonce-entry-top{
    overflow: hidden;
}
.annonce-entry-details, .annonce-entry-bottom{
    background-color: darken($white, 1%);
}
.annonce-entry-header{
    background-color: #dfdfdf;
    padding: 15px 15px 10px;
    border-radius: 5px 5px 0 0;
    font-size: 21px;
    h1{
        display: inline-block;
        text-align: center;
        color: darken($grey-font, 10%);
        font-size: 0.9em;
        font-weight: 800;
        line-height: 22px;
        margin: 0;
        @include ellipsis;
    }
    .options-container{
        text-align: center;
        vertical-align: middle;
    }
    .brand{
        text-transform: uppercase;
    }
    .engin{
        color: $grey-font;
        font-weight: 400;
        font-size: 0.9em;
        display: block;
        @include ellipsis;
    }
    .annonce-entry-header-actions{
        font-size: 1.2em;
        color: lighten($grey-font, 5%);
        li:not(:first-child):not(:last-child){
            margin: 0 7px;
        }
        li:first-child{
            margin-right: 7px;
        }
        li:last-child{
            margin-left: 7px;
        }
        li{
            @extend .color-grey-transition;
        }
    }
    .annonce-entry-header-previous-next{
        li:first-child{
            margin-right: 5px;
        }
        li:last-child{
            margin-left: 5px;
        }
        a{
            background-color: $grey;
            border-radius: 4px;
            border: 1px solid darken($grey-border, 5%);
            text-align: center;
            padding: 4px 10px;
            @include transition($transitionUi);
            &:hover, &:active{
                background-color: lighten($grey, 5%);
                span[class^=icon-]{
                    color: ($grey-font, 10%);
                }
            }
        }
        span[class^=icon-]{
            position: relative;
            top: 1px;
        }
    }
}
.annonce-entry-details{
    display: block;
    width: 100%;
    &>*{
        display: inline-block;
        position: relative;
        width: 25.3315%;;
        height: 60px;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid $grey;
        line-height: 47px;
        @include ellipsis;
        margin:-1px 0 0 -1px;
    }
    .annonce-entry-details-label{
        display: none;
        position: absolute;
        top: 1px;
        left: 10px;
        color: #8a9eb3;
        line-height: initial;
        font-weight: 400;
        font-size: 11px;
    }
    .annonce-entry-details-detail{
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        @include ellipsis;
    }
    .price{
        color: $orange;
        font-weight: 800;
        font-size: 1.1em;
    }
    .km, .year{
        font-weight: 800;
    }
}
.annonce-entry-bottom{
    padding: 0 10px 15px;
    font-size: 1.1em;
    h3{
        color: $grey-font;
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.3em;
        text-transform: capitalize;
    }
    .annonce-entry-options{
        padding-top: 15px; 
        text-align: center;
        ul{
            display: block;
            vertical-align: top;
            text-align: center;
            li{
                display: block;
                line-height: 22px;
                @include ellipsis;
            }
        }
    }
    .annonce-entry-comment{
        line-height: 20px;
        &>p{
            margin-top: 0;
        }
    }
}

.annonce-entry-seller{
    @include annonce-detail-box;
    background-color: darken($white, 2%);
    color: darken($grey-font, 10%);
    padding: 15px 10px;
    text-align: center;
    .annonce-entry-seller-details{
        padding-bottom: 15px;
    }
    li{
        display: block;
    }
    .seller-logo{
        img{
            max-width: 200px;
            max-height: 200px;
        }
    }
    .seller-name{
        margin: 10px 0 7px;
        font-size: 1.4em;
        font-weight: 800;
        text-transform: uppercase;
    }
    .seller-address{
        div{
            line-height: 22px;
            font-size: 1.15em;
        }
    }
    .annonce-entry-seller-options{
        padding-top: 15px;
        border-top: 1px solid $grey-border;
        ul{
            li{
                margin: 10px 0;
            }
            li:first-child{
                margin-top: 0;
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
        .btn-outline-orange{
            padding: 12px 15px;
        }
    }
}