/*
MODULE
----------------------------------------------------------------
Contient les styles pour les éléments de l'interface utilisateur
*/

svg:not(:root) {
    overflow: visible;
}
.flickity-page-dots{
    .dot{
        width: 12px;
        height: 12px;
        background: $grey-border;
        border-radius: 50%;
        filter: alpha(opacity=100);
        opacity: 1;
        cursor: pointer;
        &.is-selected{
            background: $white;
            border: 2px solid $blue;
        }
    }
}

// COLOR CLASS
// --------------------------------------------------
.orange
{
    color: $orange;
}
.white
{
    color: $white;
}
.blue{
    color: $blue;
}
.grey{
    color: $grey;
}

// BACKGROUND-COLOR CLASS
// --------------------------------------------------
.background-border{
    border: 1px solid $grey-border;
    background-color: $white;
    border-radius: 2px;
    padding: 25px;
}
// BORDER CLASS
// --------------------------------------------------
.border-grey{
    border: 1px solid $grey-border;
}

// SHADOW CLASS
// --------------------------------------------------
.iner-shadow{
    @include box-shadow(inset 0 4px 15px 2px lighten($black, 75%));
}
.section-shadow{
    position: relative;
    @include box-shadow(0 2px 25px 2px lighten($black, 83%));
    z-index: 2;
}
.drop-shadow{
    @include box-shadow(0 2px 13px 2px #B5B5B5);
}

//ANNONCE LAYOUT
//---------------------------------------------------
img.fill-width{
    width: 100%;
    height: auto;
}
img.fill-height{
    height: 100%;
    width: auto;
}

.annonce-link{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
//TEXT STYLES
//--------------------------------------------------
#propos{
    p{
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    }
}

//BOX STYLES
//--------------------------------------------------
.grey-border-box, .orange-border-box{
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    border: 3px solid;
    background-color: $white;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.2));
}
.grey-border-box{
    border-color: $grey-border;
}
.orange-border-box{
    border-color: $orange;
}

//SLIDER ANNONCE UNE STYLES
//--------------------------------------------------
.main-gallery{
    .gallery-cell{
        padding: 0 2px;
        width: 50%;
    }
}
.annonce-une-item{
    display: block;
    position: relative;
    text-align: center;
    .img-annonce{
        overflow: hidden;
    }
}
.annonce-une-item-content{
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    .brand{
        text-transform: uppercase;
        font-weight: 800;
    }
    .price{
        color: $orange;
        font-weight: 800;
        font-size: 1.1em;
    }
}

//FORM INPUT STYLES - SPEED SEARCH
//---------------------------------------------
.cat-selection{
    text-align: center;
    margin-bottom: 10px;
    ul{
        text-align: justify;
        width: 100%;
        font-size: 0;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    li{
        display: inline-block;
        font-size: 21px;
        cursor: pointer;
        @include transition($transitionUi);
        &:hover{
            color: $orange;
        }
    }
}
.group-input{
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 5px 0;
    label{
        display: none;
    }
    select{
        display: block;
        width: 100%;
        border-color: $grey-border;
        height: 40px;
        padding-left: 10px;
        cursor: pointer;
    }
}
