/*
RESPONSIVE
----------------------------------------------------------------
Contient les media queries pour adapter les styles sur les différents formats
*/


@include media(phone){
    .container-wrapper{
        width: 320px;
        padding: 0 15px;
    }
    #annonces-une, #annonces-similaires{
        .container-wrapper{
            width: auto;
        }
    }
    .annonce-entry-details{
        font-size: 0.9em;
        &> *{
            width: 25.331%;
        }
    }
}
@include media(tab){
    .container-wrapper{
        width: 640px;
    }
    .header-logo{
        .logo img{
            height: 45px;
        }
    }

    .main-gallery:not(.annonce-entry-slider){
        .gallery-cell{
            padding: 0 5px;
            width: 33.3333%;
        }
    }
    .row, .clearfix{
        h1, h2, h3, h4, h5, h6{
            text-align: left;
        }
    }
    .footer-top nav{
        ul{
            text-align: justify;
            width: 100%;
            max-width: 600px;
            font-size: 0;
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
        }
        li{
            display: inline-block;
            &:not(:last-child){
                margin-bottom: 0;
            }
        } 
    }
    .detailed-search{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    #search_result{
        padding: 20px 10px;
    }
    .main-gallery.annonce-entry-slider{
        .gallery-cell{
            padding: 0 1px;
            width: 33.3333%;
        }
    }
    .annonce-entry-bottom .annonce-entry-options ul{
        display: inline-block;
        text-align: left;
        padding: 0 7px;
        width: 33.3333%;
        &:last-child{
            padding-right: 0px;
        }
        &:first-child{
            padding-left: 0px;
        }
    }
    .annonce-entry-bottom .annonce-entry-comment > p, .annonce-entry-bottom .annonce-entry-options-list{
        padding-left: 17px;
        text-align: left;
    }
    .annonce-entry-header .annonce-entry-header-actions{
        font-size: 1.4em;
    }
    .annonce-entry-details{
        font-size: 1.2em;
        &> *{
            width:  25.159%;
        }
        .price{
            font-size: 1.6em;
        }
        .km, .year{
            font-size: 1.25em;
        }
    }
}
@include viewport(max, $max: 1055){
    .header-top .container-wrapper, .footer-bottom .container-wrapper {
        width: auto;
        padding: 0 25px;
    }
}
@include media(desk){
    .container-wrapper{
        width: 1024px;
    }
    .main-gallery:not(.annonce-entry-slider){
        .gallery-cell{
            width: 25%;
        }
    }
    .annonce-slider-item-content{
        font-size: 15px;
        .price{
            font-size: 1.2em;
        }
    }
    .footer-top nav{
        li{
            font-weight: 21px;
        }
    }
    .menu-mobile{
        display: none;
    }
    .desktop-menu{
        display: block;
    }
    .header-bottom{
        @include gradient-upDown($orange, darken($orange, 7%));
        border-bottom: none;
        @include box-shadow(none);
        padding: 0;
        @include box-shadow(0 1px 5px 0 rgba(0,0,0,0.3));
    }
    .grey-border-box, .orange-border-box{
        padding: 15px 20px;
    }
    .footer-bottom{
        text-align: left;
        .pull-right{
            text-align: right;
        }
    }
    .annonce-entry-img{
        display: inline-block;
        width: 75%;
        z-index: 1;
    }
    .main-gallery.annonce-entry-slider{
        .gallery-cell{
            padding: 0 1px;
            width: 25%;
        }
    }
    .annonce-entry-details{
        vertical-align: top;
        display: inline-block;
        width: 25%;
        height: 100%;
        & > *{
            display: block;
            width: 100%;
            border-left: none;
            border-right: none;
            height: 12.65%;
            line-height: 72px;
            text-align: right;
            padding-right: 15px;
        }
    }
    .annonce-entry-details .annonce-entry-details-detail{
        @include vertical-align-middle(absolute);
        line-height: initial;
        right: 20px;
        left: 10px;
        width: auto;
    }
    .annonce-entry-details .annonce-entry-details-label{
        display: block;
    }
    .annonce-entry-details .price{
        font-size: 1.7em;
    }
    .annonce-entry-details .km, .annonce-entry-details .year{
        font-size: 1.3em;
    }
}
@include media(lgdesk){
    .container-wrapper{
        width: 1280px;
    }
    .main-gallery:not(.annonce-entry-slider) {
        .gallery-cell{
            width: 20%;
        }
    }
    #search_result .container-wrapper{
        width: 100%;
    }
    .annonce-entry-details .price{
        font-size: 2em;
    }
    .annonce-entry-details .km, .annonce-entry-details .year{
        font-size: 1.4em;
    }
    .annonce-entry-details .annonce-entry-details-label{
        display: block;
        top: 5px;
        font-size: 12px;
    }
    .annonce-entry-details {
        font-size: 1.4em;
    }
}