/*
RESPONSIVE
----------------------------------------------------------------
Contient les media queries pour adapter les styles sur les différents formats
*/


@include media(phone){
    .container-wrapper{
        width: 300px;
        padding: 0 15px;
    }
    #annonces-une{
        .container-wrapper{
            width: auto;
        }
    }    
}
@include media(tab){
    .container-wrapper{
        width: 640px;
    }
    .header-logo{
        .logo img{
            height: 45px;
        }
    }

    .main-gallery{
        .gallery-cell{
            padding: 0 5px;
            width: 33.3333%;
        }
    }
    .row, .clearfix{
        h1, h2, h3, h4, h5, h6{
            text-align: left;
        }
    }
    .footer-top nav{
        ul{
            text-align: justify;
            width: 100%;
            max-width: 600px;
            font-size: 0;
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
        }
        li{
            display: inline-block;
            &:not(:last-child){
                margin-bottom: 0;
            }
        } 
    }
    .detailed-search{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    #search_result{
        padding: 20px 10px;
    }
}
@include viewport(max, $max: 1055){
    .header-top .container-wrapper, .footer-bottom .container-wrapper {
        width: auto;
        padding: 0 25px;
    }
}
@include media(desk){
    .container-wrapper{
        width: 1024px;
    }
    .main-gallery{
        .gallery-cell{
            width: 25%;
        }
    }
    .annonce-une-item-content{
        font-size: 15px;
        .price{
            font-size: 1.2em;
        }
    }
    .footer-top nav{
        li{
            font-weight: 21px;
        }
    }
    .menu-mobile{
        display: none;
    }
    .desktop-menu{
        display: block;
    }
    .header-bottom{
        @include gradient-upDown($orange, darken($orange, 7%));
        border-bottom: none;
        @include box-shadow(none);
        padding: 0;
        @include box-shadow(0 1px 5px 0 rgba(0,0,0,0.3));
    }
    .grey-border-box, .orange-border-box{
        padding: 15px 20px;
    }
    .footer-bottom{
        text-align: left;
        .pull-right{
            text-align: right;
        }
    }
}
@include media(lgdesk){
    .container-wrapper{
        width: 1280px;
    }
    .main-gallery{
        .gallery-cell{
            width: 20%;
        }
    }
    #search_result .container-wrapper{
        width: 100%;
    }
}