@charset "UTF-8";

@font-face {
  font-family: "auto-icons";
  src:url("fonts/auto-icons.eot");
  src:url("fonts/auto-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/auto-icons.woff") format("woff"),
    url("fonts/auto-icons.ttf") format("truetype"),
    url("fonts/auto-icons.svg#auto-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "auto-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "auto-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\61";
}
.icon-left-arrow:before {
  content: "\62";
}
.icon-x-icone:before {
  content: "\63";
}
.icon-facebook:before {
  content: "\64";
}
.icon-home:before {
  content: "\65";
}
.icon-google:before {
  content: "\66";
}
.icon-twitter:before {
  content: "\67";
}
.icon-mobile-ico:before {
  content: "\68";
}
.icon-envelope:before {
  content: "\6a";
}
.icon-print:before {
  content: "\69";
}
.icon-floppy-o:before {
  content: "\6b";
}
.icon-exclamation-triangle:before {
  content: "\6c";
}
.icon-categorie:before {
  content: "\6d";
}
.icon-connecte:before {
  content: "\6e";
}
.icon-connexion:before {
  content: "\6f";
}
.icon-inserer:before {
  content: "\70";
}
.icon-recherche:before {
  content: "\71";
}
.icon-up-arrow:before {
  content: "\73";
}
.icon-arrow-ico:before {
  content: "\74";
}
.icon-left-full-arrow:before {
  content: "\75";
}
.icon-right-full-arrow:before {
  content: "\76";
}
.icon-accessory-ico:before {
  content: "\77";
}
.icon-bike-ico:before {
  content: "\78";
}
.icon-car-ico:before {
  content: "\79";
}
.icon-truck-ico:before {
  content: "\7a";
}
.icon-wheel-ico:before {
  content: "\41";
}
.icon-campingcar-ico:before {
  content: "\42";
}
.icon-sort:before {
  content: "\72";
}
.icon-sort-asc:before {
  content: "\43";
}
.icon-sort-desc:before {
  content: "\44";
}
.icon-info-circle:before {
  content: "\45";
}
.icon-picture-o:before {
  content: "\46";
}
